@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom left, rgb(101, 22, 97),rgb(14, 14, 116));
}

.con{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background: transparent;
    border: 2px solid rgb(101, 22, 97);
    border-radius: 20px;
    gap: 20px;
    color: rgb(16, 187, 199);
    padding-top: 5%;
}

.con h2{
    font-size: 2.7em;
    text-shadow: 1px 1px 3px cyan;
    margin-bottom: 40px;

}

.con h4{
    font-size: 1.7em;
    text-shadow: 1px 1px 2px cyan;
}
.inputbox label{
    text-shadow: 1px 1px 2px cyan;
    font-size: 1.2em;
}
.inputbox input{
    height: 45px;
    width: 250px;
    background: rgba(0, 0, 0, 0.157);
    border: 1px solid rgb(16, 187, 199);
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.557);
    color:rgb(16, 187, 199);
    padding-left: 10px;
    font-size: 1.2em;
}
.reset{
    height: 35px;
    font-weight: 700;
    width: 130px;
    border-radius: 16px;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.557);
    background: linear-gradient(to left bottom, rgb(78, 47, 179),rgb(45, 174, 36));
    border: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 73%;
    margin-top: 8%;
}

.btn{
    height: 45px;
    font-weight: 700;
    width: 250px;
    border-radius: 20px;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.557);
    background: linear-gradient(to left bottom, rgb(179, 47, 173),rgb(36, 174, 144));
    border: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}
.resultbox{
    margin-top: 30px;
    margin-left: -50px;
   
}

.resultbox label{
    color: aquamarine;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.resultbox label p{
    color: aquamarine;
    font-size: .7em;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 6px;
    height: 45px;
    width: 350px;
    border: 1px solid rgb(16, 187, 199);
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.557);
}

