
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(17, 14, 34); 
     color: white;
}

.container{
    display: flex;
    border: 3px solid ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border-radius: 14px;
    gap: 15px;

}

.container h2{
    font-size: 2.4em;
    margin-bottom: 25px;
    text-shadow: 1px 1px 10px rgb(38, 240, 149);
    font-family: 'Ubuntu', sans-serif;
    color: cyan;
}
.container h4{
    font-size: .9em;
    text-align: center;
    color: cyan;
    text-shadow: 1px 1px 10px rgb(38, 240, 149);

}

 label{
    color: cyan;
    text-shadow: 1px 1px 10px rgb(38, 240, 149);
}

.input-box #inputbx {
    height: 47px;
    font-size: 1.3em;
    width: 250px;
    background: transparent;
    border: 1px solid cyan;
    border-radius: 7px;
    color: cyan;
    text-shadow: 1px 1px 10px rgb(38, 240, 149);
}
.btn{
    height: 45px;
    width: 150px;
    background: transparent;
    color: white;
    border: 1px solid cyan;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 1.2em;
    box-shadow: 1px 2px 10px cyan;
    cursor: pointer;
}
.btn:hover{
    background: cyan;
    color: black;
    border: 1px solid black;
    transition: .7s ease-out;
    
}
.result-section{
    margin-top: 10%;
    margin-left: -45%;
}
